overlay-message{
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#overlay-message{
	display:none;
	position: fixed;
	bottom: 7px;
	width: 0%;
	text-align: center;
	height:auto;
	max-height:0px;

	#overlay-message-outer{
		#overlay-message-inner{
			#overlay-message-section{
				width:90%;
				margin:0px auto;
				background-color:rgba(0, 106, 161, 0.93);
				border-radius:2px;
				box-shadow:0px 1px 0px 1px rgba(0, 66, 100, 0.93);

				#overlay-message-content{
					color:rgba(255,255,255,.7);
					padding:14px;
					font-size: 16px;
				}
			}
		}
	}
}

#overlay-message.error {
	#overlay-message-outer{
		#overlay-message-inner{
			#overlay-message-section{
				background-color:rgba(157, 0, 0, 0.93);
				box-shadow:0px 1px 0px 1px rgba(84, 0, 0, 0.93);
			}
		}
	}
}

#overlay-message.warning {
	#overlay-message-outer{
		#overlay-message-inner{
			#overlay-message-section{
				background-color:rgba(186, 113, 0, 0.93);
				box-shadow:0px 1px 0px 1px rgba(128, 77, 0, 0.93);
			}
		}
	}
}

#overlay-message.active{
	width:100%;
	display:block;
	max-height:100%;
}
